body,
html {
  background-image: url(./assets/claudio-testa-FrlCwXwbwkk-unsplash.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
}

.formContainer {
  background-color: rgba(243, 243, 243, 0.534);
}

.display-3 {
  color: rgb(209, 223, 161);
}

.form-label {
  color: rgb(36, 36, 36);
}
