.title {
  margin-bottom: 50px;
  text-transform: uppercase;
}

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  box-shadow: none;
}

.card {
  font-size: 1em;
  overflow: hidden;
  padding: 5;
  border: none;
  border-radius: 0.28571429rem;
  margin-top: 20px;
}

.display-1 {
  color: rgb(36, 36, 36);
}
#homeContainer {
  color: rgb(36, 36, 36);
  background-color: rgba(204, 204, 204, 0.712);
}

#homeContainer > ul {
  list-style: none;
  padding-left: 0;
}
