.navbar {
  display: flex;
  justify-content: flex-end;
  height: 75px;
  width: 100vw;
  padding-top: 0px;
  background-color: rgb(217, 248, 213);
  border-bottom: 1px solid rgb(255, 255, 255);
}
.navbar-brand {
  margin-right: auto;
}
